table {
    width: 100%;
  }
.form-container{
  width: 180px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px;
}  
.divButtons{
  padding-top: 15px;
  padding-bottom: 15px;
}
.rowDatePicker{
  padding-top: 20px;
}

th.mat-header-cell, td.mat-cell {
  text-align: center;
  border: 1px solid #CCC;
  padding: 0 !important;
  font-size: 14px;
}