
<div class="container">
    <div class="card">
        <div class="card-header">Ingresar Datos del Viaje</div>
        <div class="card-body">
            <div hidden class="row">
                <div class="col-md-2">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Fecha">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>            
                </div>                
            </div>
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field>
                        <input matInput name="origin" #origin="ngModel" [(ngModel)]="passengerService.selectedPassenger.origin" placeholder="Origen">
                    </mat-form-field>            
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <input matInput name="travelOriginProvince" #travelOriginProvince [(ngModel)]="passengerService.selectedPassenger.originProvince" placeholder="Provincia Origen">
                    </mat-form-field>            
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <input matInput name="travelDestination" #travelDestination [(ngModel)]="passengerService.selectedPassenger.destination" placeholder="Destino">
                    </mat-form-field>            
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <input matInput name="travelDestinationProvince" #travelDestinationProvince [(ngModel)]="passengerService.selectedPassenger.destinationProvince" placeholder="Provincia Destino">
                    </mat-form-field>            
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="margin-top: 5px;">
        <div class="card-header">Ingresar Datos del Pasajero</div>
        <div class="card-body">
            <form #passengerForm="ngForm" class="">
                <input hidden name="_id" #_id="ngModel" [(ngModel)]="passengerService.selectedPassenger._id">
                <div class="row">   
                    <div class="col">
                        <mat-form-field>
                            <mat-select placeholder="Tipo Documento" name="documentType" #documentType="ngModel" [(ngModel)]="passengerService.selectedPassenger.documentType">
                                <mat-option *ngFor="let dt of docuTypes" [value]="dt.value">
                                    {{dt.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                        <mat-form-field>
                            
                            <input matInput name="documentNumber" #documentNumber="ngModel" [(ngModel)]="passengerService.selectedPassenger.documentNumber" placeholder="DNI">
                           <!--
                            <input matInput name="documentNumber" 
                                    #documentNumber="ngModel" 
                                    [ngModel]="passengerService.selectedPassenger.documentNumber | searchByDni: passengerService.selectedPassenger.documentNumber" 
                                    (ngModelChange)="passengerService.selectedPassenger.documentNumber=$event" 
                                    placeholder="DNI">
                             -->        
                        </mat-form-field>                        
                    </div>

                    <div class="col">
                        <mat-form-field>
                            <input matInput name="name" #name="ngModel" [(ngModel)]="passengerService.selectedPassenger.name" placeholder="Nombre" required>
                            <!--
                            <div [hidden]="name.valid" class="alert alert-danger">
                                Nombre es requerido
                            </div>
                            -->
                        </mat-form-field>
                        
                        <mat-form-field>
                            <input matInput name="lastName" #lastName="ngModel" [(ngModel)]="passengerService.selectedPassenger.lastName" placeholder="Apellido" required>
                        </mat-form-field>
                    </div>

                    <div class="col">
                        <mat-form-field>                        
                            <mat-select name="gender" #gender="ngModel" [(ngModel)]="passengerService.selectedPassenger.gender" placeholder="Sexo">
                                <mat-option *ngFor="let g of genders" [value]="g.value">
                                    {{g.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                        <mat-form-field>                        
                            <mat-select name="younger" #younger="ngModel" [(ngModel)]="passengerService.selectedPassenger.younger" placeholder="Es menor?">
                                <mat-option *ngFor="let yo of isYounger" [value]="yo.value">
                                    {{yo.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>    
                        
                        <mat-form-field hidden>
                            <input matInput name="origin" #origin="ngModel" [(ngModel)]="passengerService.selectedPassenger.origin" placeholder="Origen">
                        </mat-form-field>
                        
                        <mat-form-field hidden>
                            <input matInput name="originProvince" #originProvince="ngModel" [(ngModel)]="passengerService.selectedPassenger.originProvince" placeholder="Provincia Origen">
                        </mat-form-field>
                    </div>

                    <div class="col">
                        <mat-form-field hidden>
                            <input matInput name="destination" #destination="ngModel" [(ngModel)]="passengerService.selectedPassenger.destination" placeholder="Destino">
                        </mat-form-field>
                        
                        <mat-form-field hidden>
                            <input matInput name="destinationProvince" #destinationProvince="ngModel" [(ngModel)]="passengerService.selectedPassenger.destinationProvince" placeholder="Provincia Destino">
                        </mat-form-field>
                        
                        <mat-form-field>
                            <input matInput name="nationality" #nationality="ngModel" [(ngModel)]="passengerService.selectedPassenger.nationality" placeholder="Nacionalidad" required>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput name="telephoneNumber" #telephoneNumber="ngModel" [(ngModel)]="passengerService.selectedPassenger.telephoneNumber" placeholder="Teléfono">
                        </mat-form-field>
                    </div>
                </div>        
            </form>
        </div>
    </div>
    <div class="row divButtons">
        <div class="col-md-2 col-xs-6">
            <button type="button" 
                    class="btn btn-success" 
                    (click)="addPassenger(passengerForm)">Guardar Pasajero</button>
        </div>
        
        <div class="col-md-1 col-xs-6">
            <button type="button"
                    [disabled]="passengerService.selectedPassenger._id !== ''" 
                    class="btn btn-secondary" 
                    (click)="resetForm(passengerForm)">Limpiar</button>
        </div>
        
    </div>
    <div #TABLE #table>
        <table mat-table [dataSource]="passengerService.passengers" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
        
                <!--  Column -->
                <ng-container matColumnDef="documentType">
                    <th mat-header-cell *matHeaderCellDef> Tipo Documento </th>
                    <td mat-cell *matCellDef="let element"> {{element.documentType}} </td>
                </ng-container>
            
                <!--  Column -->
                <ng-container matColumnDef="documentNumber">
                    <th mat-header-cell *matHeaderCellDef> Numero Documento </th>
                    <td mat-cell *matCellDef="let element"> {{element.documentNumber}} </td>
                </ng-container>
            
                <!--  Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
            
                <!--  Column -->
                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef> Apellido </th>
                    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                </ng-container>

                <!--  Column -->
                <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef> Sexo </th>
                    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                </ng-container>
            
                <!--  Column -->
                <ng-container matColumnDef="younger">
                    <th mat-header-cell *matHeaderCellDef> Menor? </th>
                    <td mat-cell *matCellDef="let element"> {{element.younger}} </td>
                </ng-container>
                
                <!--  Column -->
                <ng-container matColumnDef="origin">
                    <th mat-header-cell *matHeaderCellDef> Origen </th>
                    <td mat-cell *matCellDef="let element"> {{element.origin}} </td>
                </ng-container>

                <!--  Column -->
                <ng-container matColumnDef="originProvince">
                    <th mat-header-cell *matHeaderCellDef> Provincia Origen </th>
                    <td mat-cell *matCellDef="let element"> {{element.originProvince}} </td>
                </ng-container>
                
                <!--  Column -->
                <ng-container matColumnDef="destination">
                    <th mat-header-cell *matHeaderCellDef> Destino </th>
                    <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
                </ng-container>

                <!--  Column -->
                <ng-container matColumnDef="destinationProvince">
                    <th mat-header-cell *matHeaderCellDef> Provincia Destino </th>
                    <td mat-cell *matCellDef="let element"> {{element.destinationProvince}} </td>
                </ng-container>
                
                <!--  Column -->
                <ng-container matColumnDef="nationality">
                    <th mat-header-cell *matHeaderCellDef> Nacionalidad </th>
                    <td mat-cell *matCellDef="let element"> {{element.nationality}} </td>
                </ng-container>

                <ng-container matColumnDef="operations">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element"> 
                        <a style="cursor: pointer;" (click)="editPassenger(element)">
                            <i class="material-icons">edit</i>
                        </a>
                        <a style="cursor: pointer;" (click)="deletePassenger(passengerForm,element._id)">
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                </ng-container>

                <!-- Header row first group -->
                <ng-container matColumnDef="header-row-ppal-group">
                    <th mat-header-cell *matHeaderCellDef 
                        [style.text-align]="center"            
                        [attr.colspan]="12"> 
                        Datos para lista de pasajeros
                    </th>
                </ng-container>

                <ng-container matColumnDef="header-row-first-group">
                    <th mat-header-cell *matHeaderCellDef 
                        [style.text-align]="center"
                        [attr.colspan]="12"> 
                        Datos Pasajeros
                    </th>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['header-row-ppal-group']"></tr>
                <tr mat-header-row *matHeaderRowDef="['header-row-first-group']"></tr>                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <div class="row divButtons">
        <div hidden class="col-md-2 col-xs-6">
            <button type="button" class="btn btn-warning">Guardar Viaje</button>
        </div>
        <div class="col-md-1 col-xs-6">
            <button class="btn btn-warning" mat-raised-button (click)="ExportTOExcel(travelDestination,picker)">XLS
                <mat-icon>trending_down</mat-icon>
            </button>
        </div>
    </div>
</div>